@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    tab-size: 4;
    border-color: rgb(226, 232, 240);
}

main {
    margin: 0px;
    display: block;
    padding: 32px;
}

.text--purple {
    color: #6415FF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*  NAVIGATION  */
nav {
    height: 100%;
    max-height: 44px;
    display: flex;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-size-adjust: 100%;
}

.logo__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    margin-right: 14px;
}

.text {
    font-weight: 900;
    font-size: 24px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    padding: 0 0 4px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.nav__link--user {
    margin-right: 24px;
    margin-left: 48px;
}

.nav__link--sign {
    padding: 12px 32px;
    background: rgb(100, 21, 255);
    color: white;
    border-radius: 9999px;
    margin: 0;
}

.nav__link:hover {
    cursor: pointer;
    color: #6415FF;
    padding-bottom: 4px;
    border-bottom: 2px solid #6415FF;
    padding: 0 0 4px;
}

.nav__link--sign:hover {
    color: white;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
    padding: 12px 32px;
}

/*  HEADER  */
header {
    height: 100%;
    max-height: 100vh;
}

.two__column--container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.two__column--left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}

.header__para {
    font-size: 18px;
    color: #243e63;
    margin: 32px 0;
}

.header__logos {
    width: 100%;
    height: 100%;
}

.header__img {
    max-width: 533.328px;
    max-height: 34px;
    opacity: 0.5;
    padding-right: 128px;
    margin-top: 16px;
}

.two__column--right {
    width: 60%;
}

.header__right--img {
    width: 100%;
}

.header__btn--wrapper {
    position: relative;
    width: 100%;
    max-width: 448px;
}

.btn--input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid rgb(226, 232, 240);
}

.btn--input:focus {
    border: 2px solid rgb(226, 232, 240);
}

.btn {
    padding: 16px 0;
    margin: 8px 8px 8px 0px;
    width: 100%;
    max-width: 160px;
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #fff;
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.header__logos {
    margin: 80px 0 0;
}

.header__logos--para {
    font-weight: 700;
    font-size: 12px;
    color: #A0AEC0;
}

/*  FEATURES SECTION  */
.features__container {
    height: 100%;
    max-height: 838.5px;
    display: flex;
    padding: 96px 0;
}

.features__row {
    display: flex;
    flex-direction: column;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.title {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.para {
    font-size: 18px;
    color: #7C8BA1;
    margin: 16px 0 0;
    width: 100%;
    max-width: 36rem;
}

.feature__img--wrapper {
    flex-shrink: 0; /*make sure wrap dont change size of img*/
    padding: 20px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__img {
    width: 100%;
    max-width: 24px;
}

.feature__text {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    font-size: 24px;
    color: #243e63;
    margin: 16px 0 0;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
}

.feature__para {
    color: #7C8BA1;
    margin: 16px 0 0;
    font-weight: 500;
}

.section--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.feature__container {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    width: 30%;
    padding: 32px 8px;
    align-items: flex-start;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

/*  QUALITY WORK SECTION  */
.left__column,
.right__column {
    width: 50%;
}

.left__column {
    margin-right: 64px;
}

.right__column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right__column--para {
    margin-top: 16px;
}

.column__btn {
    margin-top: 32px;
}

.column--img--wrapper {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column--img {
    width: 100%;
    max-height: 100%;
    border: 1px solid rgb(226, 232, 240);
}

/*  STEPS FEATURE  */
.step__left--column {
    width: 50%;
}

.pc__img {
    border: none;
    margin-top: 36px;
}

.right__column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.step--number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

.step {
    display: flex;
    margin-top: 30px;
}

.step__text {
    margin-left: 24px;
}

.step__heading {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
}

.step__para {
    width: 320px;
    margin-top: 12px;
    color: #718096;
}

/*   VALUES SECTION */
.values__icon--wrapper {
    padding: 8px;
    width: 100%;
    max-width: 36px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
}

.values--icon--green {
    background-color: rgb(154, 230, 180);
    color: rgb(39, 103, 73);
}

.values--icon--red {
    background-color: rgb(254, 178, 178);
    color: rgb(155, 44, 44);
}

.two__column--mini {
    display: flex;
}

.left--mini {
    margin: 32px 32px 0 0;
}

.right__mini {
    margin-top: 32px;
}

.two__column--header {
    display: flex;
}

.column__header--title {
    margin-left: 12px;
}

.values__btn {
    margin-top: 48px;
}

/*  PRICING SECTION  */
.pricing__container {
    height: 100%;
    max-height: 1072px;
}

.pricing__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.three__column--container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.three__column {
    margin: 64px 32px 0 0;
    padding: 8px 32px 0 32px;
    width: 100%;
    max-width: 384px;
    line-height: 26px;
    text-align: center;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.top__border {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.top__border--red {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.three__column--top {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column--middle--top {
    padding: 32px;
    border-top: 2px solid rgb(226, 232, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.three__column--middle {
    margin: 32px 0;
}

.name {
    color: #1A202C;
    font-size: 20px;
    font-weight: 700;
}

.price {
    color: #1A202C;
    font-size: 48px;
    margin: 4px 0;
    font-weight: 700;
}

.duration {
    color: #A0AEC0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.three__column--btn--wrapper {
    width: 100%;
    max-width: 197.328px;
}

.three__column--btn {
    width: 100%;
    padding: 16px 32px;
    border-radius: 9999px;
    border: none;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.column__btn--white {
    background: #f7fafc;
    color: #6415FF;
}

.column__btn--red {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.column__middle {
    border-radius: 8px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.middle--text {
    color: white;
}

/*  TESTIMONIALS SECTIONS */
.customerRating--para {
    font-size: 16px;
    margin: 16px 0 40px;
    color: #4a5568;
    font-weight: 500;
}

.customerInfoAndRating {
    padding-top: 40px;
}

.ratings {
    color: rgb(246, 173, 85);
}

.customerRating--heading {
    margin-top: 16px;
    margin-left: 0;
}

.customerTitle {
    margin: 0;
}

.two__columnWithImageAndCustomerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageAndCustomerInfo {
    display: flex;
    align-items: center;
    text-align: left;
}

.customerInfo {
    display: flex;
    flex-direction: column;
    margin-left: 24px;;
}

.customerImage--wrapper {
    max-width: 100%;
    width: 80px;
    height: auto;
}

.customer--img {
    width: 100%;
    border-radius: 9999px;
}

.twoColumnWithTwoButtons {
    display: flex;
}

.twoButtonColumn {
    margin: 0 12px;
    padding: 16px;
    color: rgb(100 21 255);
    background-color: rgb(237, 242, 247);
    border: none;
    border-radius: 9999px;
}

/*  FAQS SECTION  */
.faqs__bottom {
    margin-top: 48px;
}

.faqs__singleColumn {
    padding: 16px 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(237, 242, 247);
    border-radius: 8px;
}

.faqsQuestion {
    display: flex;
    justify-content: space-between;
}

.faqsQuestionWords {
    font-size: 20px;
    color: #2d3748;
    font-weight: 600;
}

.faqsAnswer {
    max-height: 0;
    overflow: hidden;
}

.faqs__singleColumn.active .faqsAnswer {
    max-height: 300px;
}

/*  GET STARTED SECTION  */
.getStarted--background {
    background-color: rgb(100, 21, 255);
    padding: 80px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStarted--header {
    font-size: 30px;
    color: #f7fafc;
    font-weight: 700;
    text-align: center;
    width: 100%;
    max-width: 512px;
    line-height: 45px;
}

.getStartedButtons {
    margin-top: 24px;
    display: flex;
}

.getStarted--button {
    margin-right: 32px;
    font-size: 16px;
    color: #f7fafc;
    padding: 16px 32px;
    font-weight: 700;
    background-color: rgb(245 101 101);
    border: none;
    border-radius: 9999px;
}

.getStarted--buttonWhite {
    border: 1px solid rgb(160, 174, 192);
    background-color: transparent;
}

/*  FOOTER SECTION  */
footer {
    background-color: rgb(100, 21, 255);
}

.footerContainer {
    display: flex;
    flex-direction: column;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.footerTop--singleColumn {
    margin-top: 48px;
}

.footerTop--singleColumn--header {
    font-size: 16px;
    color: #f7fafc;
    font-weight: 700;
    margin-bottom: 10px;
}

.footerTop--singleColumn--lists {
    margin-top: 24px;
}

.footerTop--singleColumn--list {
    margin-top: 12px;
}

.footerTop--singleCOlumn--link {
    font-size: 14px;
    color: #f7fafc;
    padding: 0 0 4px;
    font-weight: 500;
}

.footerDivider {
    margin: 64px 0;
    border-bottom: 2px solid rgb(166 44 255);
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.footerText {
    color: #f7fafc;
}

.footerCopyright {
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 500;
}

.footerSocialLinks {
    display: flex;
}

.footerSocialLink {
    display: inline-block;
    background-color: #f7fafc;
    margin-right: 16px;
    padding: 8px;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
}

.footerImg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}